@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat&family=Roboto&display=swap');

.body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.container {
    display: flex;
    flex-direction: row;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main{
    padding: 83px 6.08137045%;
    width: 1535px;
    height: 1795px;
    background: #FFFFFF;
}

h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
}

header{
    float: right;
}

.search-icon, .layout-icon{
    width: 37px;
    height: 37px;
    margin: 25px;
    
}

.timelines{
    position: relative;
    --hour-height: 123px;
    --time-shift: 155px;
}

.timelines_hours{
    list-style: none;
    margin: 0%;
    padding: 0%;
    z-index: 1;
    position: relative;
}

.timelines_hours li{
    height: var(--hour-height);
    border-top: 2px solid #F3F3F3;
    margin-left: var(--time-shift);
    box-sizing: border-box;
}

.timelines_hours li span{
    display: block;
    position: absolute;
    transform: translate(calc(-1*var(--time-shift)),-50%) translateY(2px);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    color: #A4B0C3;
}

.timelines_events{
    position: absolute;
    top: 0;
    left: var(--time-shift) ;
    margin: 0;
    list-style: none;
    padding: 0;
    right: 0;
    z-index: 2;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;    
}

.timelines_event{
    position: absolute;
    --border-color: #8576ed;
    --background-color: rgba(133, 118, 237, 0.15);
    border-left: 6px solid var(--border-color);
    background: var(--background-color);
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timelines_event--design{
    --border-color: #3D83F9;
    --background-color: rgba(61, 131, 249, 0.15);
}

.timelines_event--managment{
    --border-color: #EEA57C;
    --background-color: rgba(238, 165, 124, 0.15);
}

aside{
    float: right;
    width: 800px;
    height: 1795px;
    background: rgba(42, 46, 65, 0.7);
}

.calendar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calendar_header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 599px;
    height: 43px;
    margin: 100px;
    padding-bottom: 0;
}

.calendar_title{
    width: 320px;
    height: 43px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
}

.line_img{
    border-top: 1px solid #000000; 
    opacity: 17%;
    width: 599px;
    height: 0px;
    border-bottom: 1px solid #979797;
}

.calendar_btn{
    width: 18px;
    height: 36px;
    background: none;
    border-style: none;
}

.calendar_day{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar_days{   
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-column-gap: 0.5em;
    grid-row-gap: 2em;
    padding: 0px 0px 50px 0px;
    align-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 29px;
    line-height: 34px;
    color: #FFFFFF;
    text-align: center;
    align-items: center; 
}

.calendar_day-line, .calendar_day-line2, .calendar_day-line3, .calendar_day-line4, .calendar_day-line5 {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar_day-sixteen, .calendar_day-seven{
    background: #3C82F9;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories{
    width: 599px;
    height: 372px;
    position: relative;
    padding: 100px;
}

.name{
    width: 183px;
    height: 31px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    color: #FFFFFF;    
}

.buttons {
    padding-top: 42px;
    display: grid; 
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 2em;
    grid-row-gap: 2em;
}

.categories_1{
    background-color: #8576ED;
    border: none;
    color: white;
    border-radius: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    width: 285px;
    height: 80px;
    text-align: center;
    color: #FFFFFF;
}

.categories_2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    border: none;
    text-align: center;
    color: #FFFFFF;
    width: 285px;
    height: 80px;
    flex-direction: row;
    background: #F39946;
    border-radius: 12px;
}

.categories_3{
    width: 275px;
    height: 26px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    border: none;
    color: #FFFFFF;
    width: 285px;
    height: 80px;
    background: #FF467E;
    border-radius:12px;
}

.today {
    color: #FF467E;
}